<mat-grid-list cols="4" rowHeight="150px"> 
  <mat-grid-tile colspan="4" rowspan="1">
      <header>
        <strong><h1> Cadastro </h1></strong>
        <p> Aqui você pode realizar o seu cadastro. </p>
    </header>
  </mat-grid-tile>
  <mat-grid-tile colspan="4" rowspan="2">
  
      <form [formGroup]="FormGroupCliente">
  
          <div class="row">
  
              <mat-form-field appearance="fill">
                  <mat-label>Nome</mat-label>
                  <input matInput formControlName="nome" autofocus>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>CPF</mat-label>
                  <input #cpf matInput formControlName="cpf" (change)="validaCpf()"
                  id="cpf" mask="000.000.000-00" [showMaskTyped] = "false">
                </mat-form-field>
      
                <mat-form-field appearance="fill">
                  <mat-label>Telefone</mat-label>
                  <input matInput formControlName="telefone"
                  id="telefone" mask="(00) 00000-0000" [showMaskTyped] = "false">
                </mat-form-field>
          </div>
  
          <div class="row">
  
              <mat-form-field appearance="fill">
                  <mat-label>CEP</mat-label>
                  <input #cep matInput formControlName="cep" (change)="buscarCep()"
                  id="cep" mask="00000-000" [showMaskTyped] = "false">
                </mat-form-field>
      
                <mat-form-field appearance="fill">
                  <mat-label>Endereço</mat-label>
                  <input matInput formControlName="logradouro">
                </mat-form-field>
      
                <mat-form-field appearance="fill">
                  <mat-label>Complemento</mat-label>
                  <input matInput formControlName="complemento">
                </mat-form-field>
          </div>
          
          <div class="row">
              <mat-form-field appearance="fill">
                  <mat-label>Bairro</mat-label>
                  <input matInput formControlName="bairro">
                </mat-form-field>
  
                <mat-form-field appearance="fill">
                  <mat-label>Cidade</mat-label>
                  <input matInput formControlName="localidade">
                </mat-form-field>
  
                <mat-form-field appearance="fill">
                  <mat-label>Estado</mat-label>
                  <input matInput formControlName="uf">
                </mat-form-field>
  
                <mat-form-field appearance="fill">
                  <mat-label>Numero</mat-label>
                  <input matInput formControlName="numero">
                  </mat-form-field>
          </div>
  
          <section>
              <div class="example-button-row">
                  <button mat-raised-button color="primary"(click)='salvarCliente()'>Cadastrar</button>
                <a mat-raised-button href="" type="submit"></a>
              </div>
          </section>  
      </form>
  </mat-grid-tile>

</mat-grid-list>

