.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .example-container .mat-form-field {
    width: 220px;
  }
  
  .example-container form {
    margin-bottom: 20px;
  }
  
  .example-container form > * {
    margin: 5px 0;
  }
  
  .example-container .mat-radio-button {
    margin: 0 12px;
  }

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .main-container {
    padding-top: 100px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    overflow:hidden;
 }


 .green-icon {
  color: green;
}
/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
.green-icon svg {
  fill: green;
}

.full-width {
  width: 50%;
}

.example-form {
  /* min-width: 150px;
  max-width: 500px; */
  width: 70%;
}


.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: inline-block;
  position: relative;
} 
