<!-- Page Content -->
<mat-sidenav-content>
<div class="container main-container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3">Cadastro </h1>
        <p class="lead">Aqui você pode realizar o seu cadastro.</p>
    </header>

    <form class="mbr-form" [formGroup]="FormGroupCliente">
        <!-- <form class="mbr-form" [formGroup]="FormGroupCliente"> -->
        <div class="row row-sm-offset">
            <div class="col-md-4 multi-horizontal">
                    <mat-form-field appearance="fill">
                        <mat-label>Nome</mat-label>
                        <input matInput formControlName="nome" required=""
                        id="nome">
                    </mat-form-field>
            </div>
            <div class="col-md-4 multi-horizontal">
                <mat-form-field appearance="fill">
                    <mat-label>CPF</mat-label>
                    <input matInput formControlName="cpf" formControlName="cpf" required=""
                    id="cpf" mask="000.000.000-00" [showMaskTyped] = "false">
                </mat-form-field>
            </div>
            <div class="col-md-4 multi-horizontal">

                <mat-form-field appearance="fill">
                    <mat-label>Telefone</mat-label>
                    <input matInput formControlName="cpf" formControlName="telefone" required=""
                    id="telefone" mask="(00) 00000-0000" [showMaskTyped] = "false">
                </mat-form-field>
            </div>
        </div>
        <section>
        <div class="example-button-row">
            <button mat-raised-button color="primary"(click)='salvarCliente()'>Cadastrar</button>
          <a mat-raised-button href="" type="submit"></a>
        </div>
    </section>

        <!-- <span class="input-group-btn">
            <button href="" type="submit" class="btn btn-primary btn-form display-4" (click)='salvarCliente()'>Cadastrar</button>
        </span> -->
    </form>
</div>
<br>
</mat-sidenav-content>