<mat-sidenav-container>

  <mat-sidenav mode="side" #sidenav opened>
    <mat-toolbar color="primary">
      <button mat-button [routerLink]="['/home']">
        Clinica Online
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/consultar'"> Lista de Cliente </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="menu-button">
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
    </div>

        <div class="mat-app-background basic-container">
          <router-outlet></router-outlet>
        </div>

  </mat-sidenav-content>

</mat-sidenav-container>


