.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
  }
  
  .hidden {
    display: none;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  mat-toolbar a {
    display: inline-block;
    margin: 0 10px;
    color: white;
    text-decoration: none;
  }
  /*
  @media (min-width: 768px) {
    .sidenav {
      display: none;
    }
  } */
  

  mat-sidenav-container{
    height: 100%;
  }

  mat-sidenav, mat-sidenav-content{
    padding: 16px;
  }

  mat-sidenav{
    background-color:cadetblue;
    width: 200px;
  }

  .simple-text {
    text-transform: uppercase;
    padding: 5px 0px;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
    display: block;
  }

  p {
    float: left;
    font-size: 20px;
    margin: 10px 10px;
  }